{
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.scss", "*.ts"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": [".vscode/*"],
      "options": {
        "tabWidth": 4,
        "singleQuote": false
      }
    }
  ]
}
