name: Package

on:
  push:
    paths:
      - plugin.json
    branches:
      - main
  workflow_dispatch:

jobs:
  package:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 50
          fetch-tags: true

      - uses: jdx/mise-action@v3

      - name: Install deps
        run: pnpm i

      - name: Get current version
        uses: flex-development/jq-action@main
        id: version
        with:
          data: plugin.json
          filter: .version

      - name: Package
        run: pnpm build

      - name: Generate release log
        run: |
          conventional-changelog -o release.md -n changelog.json -k plugin.json -c plugin.json
          npx prettier -w release.md

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: package.zip
          name: Release ${{ steps.version.outputs.result }}
          tag_name: ${{ steps.version.outputs.result }}
          make_latest: true
          body_path: release.md
